.deliveryInfo{
  padding: 24px;
  background: #2C2A2A;
  border-radius: 24px;
  width: 660px;
  margin-right: 24px;
  margin-top: 24px;
  @media (max-width: 1024px) {
    margin-right: 0;
  }
  h3{
    color: white;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;
  }
  form{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
    div{
      position: relative;
      input{
        width: 298px;
        height: 32px;
        padding: 0 12px;
        padding-top: 14px;
        outline: none;
        background: rgba($color: white, $alpha: 5%);
        border: 1px solid rgba($color: white, $alpha: 5%);
        border-radius: 12px;
        font-size: 14px;
        font-weight: 500;
        color: white;
        transition: .3s;
        visibility: visible;
        &:focus{
          border: 1px solid white;
          transition: .3s;
        }
      }
      span{
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba($color: white, $alpha: 60%);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        transition: .3s;
        &.active{
          transform: translateY(-32%);
          position: absolute;
          left: 13px;
          top: 14px;
          font-size: 11px;
          font-weight: 600;
          color: rgba($color: white, $alpha: 60%);
          line-height: 18px;
          transition: .3s;
        }
      }
    }
  }
  .address{
    margin-top: 32px;
    h3{
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }
    p{
      margin: 8px 0 16px 0;
      color: rgba($color: white, $alpha: 60%);
      font-size: 16px;
    }
    .inputForm{
      position: relative;
      input{
        width: 628px;
        height: 34px;
        padding: 0 16px;
        padding-top: 14px;
        border-radius: 12px;
        border: 0;
        background: rgba($color: white, $alpha: 10%);
        outline: none;
        font-size: 16px;
        color: white;
        font-weight: 500;
        letter-spacing: 0.5px;
      }
      span{
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba($color: white, $alpha: 60%);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        transition: .3s;
        &.active{
          transform: translateY(-32%);
          position: absolute;
          left: 16px;
          top: 14px;
          font-size: 11px;
          font-weight: 600;
          color: rgba($color: white, $alpha: 60%);
          line-height: 18px;
          transition: .3s;
        }
      }
    }
  }
}