.deliveryInfo{
  padding: 24px;
  background: #2C2A2A;
  border-radius: 24px;
  width: 660px;
  margin-right: 24px;
  margin-top: 24px;
  @media (max-width: 1268px) {
    margin-right: 0;
  }
  @media (max-width: 756px) {
    width: 84%;
  }
  @media (max-width: 542px) {
    width: 78%;
  }
  @media (max-width: 500px) {
    width: 68%;
  }
  @media (max-width: 410px) {
    width: 300px;
  }  
  @media (max-width: 360px) {
    width: 250px;
  }
  h3{
    color: white;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;
  }
  form{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
    @media (max-width: 748px) {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    div{
      position: relative;
      @media (max-width: 768px) {
        width: 94%;
      }
      input{
        width: 298px;
        height: 32px;
        padding: 0 12px;
        padding-top: 14px;
        outline: none;
        background: rgba($color: white, $alpha: 5%);
        border-radius: 12px;
        font-size: 14px;
        font-weight: 500;
        color: white;
        transition: .2s;
        border: 1px solid rgba($color: white, $alpha: 0%);
        visibility: visible;
        @media (max-width: 768px) {
          width: 100%;
        }
        @media (max-width: 410px) {
          width: 98%;
        }
        &:focus{
          border: 1px solid white;
          transition: .3s;
        }
        &:hover{
          border: 1px solid rgba($color: white, $alpha: 20%);
        }
        &.active{
          border: 1px solid white;
        }
      }
      span{
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba($color: white, $alpha: 60%);
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        transition: .3s;
        &.active{
          transform: translateY(-32%);
          position: absolute;
          left: 13px;
          top: 14px;
          font-size: 11px;
          color: rgba($color: white, $alpha: 60%);
          line-height: 18px;
          transition: .3s;
        }
      }
    }
  }
  .address{
    margin-top: 32px;
    @media (max-width: 748px) {
      width: 100%;
    } 
    h3{
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }
    p{
      margin: 8px 0 16px 0;
      color: rgba($color: white, $alpha: 60%);
      font-size: 16px;
    }
    .inputForm{
      position: relative;
      @media (max-width: 748px) {
        width: 94%;
      }
      .up{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        gap: 8px;
        @media (max-width: 768px) {
          width: 93%;
          flex-direction: column;          
        }
        @media (max-width: 750px) {
          width: 100%;
        }
        @media (max-width: 570px) {
          width: 98%;
        }
        div{
          width: 100%;
          position: relative;
          input{
            @media (max-width: 768px) {
              width: 100%;
            }
            @media (max-width: 750px) {
              width: 93%;
            }
            @media (max-width: 748px) {
              width: 100%;
            }
            @media (max-width: 400px) {
              width: 98%;
            }
            width: 90%;
            height: 34px;
            padding: 0 16px;
            padding-top: 14px;
            border-radius: 12px;
            border: 0;
            background: rgba($color: white, $alpha: 10%);
            outline: none;
            font-size: 14px;
            color: white;
            font-weight: 500;
            color: white;
            transition: .2s;
            border: 1px solid rgba($color: white, $alpha: 0%);
            visibility: visible;
            &:focus{
              border: 1px solid white;
              transition: .3s;
            }
            &:hover{
              border: 1px solid rgba($color: white, $alpha: 20%);
            }
            &.active{
              border: 1px solid white;
            }
            letter-spacing: 0.5px;
          }
          
          .cityRes{
            width: 100%;
            @media (max-width: 768px) {
              width: 106%;
            }
            @media (max-width: 768px) {
              width: 106%;
            }
            @media (max-width: 750px) {
              width: 100%;
            }
            @media (max-width: 746px) {
              width: 109%;
            }
            @media (max-width: 358px) {
              width: 114%;
            }
        
            height: auto;
            max-height: 250px;
            overflow-y: scroll;
            background: #373535;
            position: absolute;
            top: 50px;
            left: 0;
            z-index: 1  ;
            border-radius: 12px;
            box-shadow:  0px 4px 16px 0px rgba(0, 0, 0, 0.16);
            margin-top: 8px;
            &::-webkit-scrollbar{
              width: 4px;
              background: rgba(255, 255, 255, 0.15);
              border-radius: 50px;

            }
            &::-webkit-scrollbar-thumb{
              width: 4px;
              background: white;
              border-radius: 50px;
            }
            p{
              padding: 20px 12px;
              border-bottom: 1px solid rgba(255, 255, 255, 0.15);
              cursor: pointer;
            }
          }
          span{
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            color: rgba($color: white, $alpha: 60%);
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            transition: .3s;
            &.active{
              transform: translateY(-32%);
              position: absolute;
              left: 16px;
              top: 14px;
              font-size: 11px;
              color: rgba($color: white, $alpha: 60%);
              line-height: 18px;
              transition: .3s;
            }
          }
        }
      }
      .down{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        gap: 8px;
        margin-top: 8px;
        @media (max-width: 768px) {
          width: 93%;
          flex-direction: column;          
        }
        @media (max-width: 750px) {
          width: 100%;
        }
        @media (max-width: 570px) {
          width: 98%;
        }
        @media (max-width: 410px) {
          width: 96%;
        }
        div{
          width: 100%;
          position: relative;
          input{
            @media (max-width: 768px) {
              width: 100%;
            }
            @media (max-width: 750px) {
              width: 93%;
            }
            @media (max-width: 748px) {
              width: 100%;
            }
            width: 86%;
            height: 34px;
            padding: 0 16px;
            padding-top: 14px;
            border-radius: 12px;
            border: 0;
            background: rgba($color: white, $alpha: 10%);
            outline: none;
            font-size: 14px;
            color: white;
            font-weight: 500;
            color: white;
            transition: .2s;
            border: 1px solid rgba($color: white, $alpha: 0%);
            visibility: visible;
            &:focus{
              border: 1px solid white;
              transition: .3s;
            }
            &:hover{
              border: 1px solid rgba($color: white, $alpha: 20%);
            }
            &.active{
              border: 1px solid white;
            }
            letter-spacing: 0.5px;
            div{
              @media (max-width: 748px) {
                width: 90%;
              }
              @media (max-width: 425px) {
                display: none;
              }
              .map{
                @media (max-width: 748px) {
                  width: 98%;
                }
                @media (max-width: 425px) {
                  display: none;
                }
              }
            }
          }
          
          span{
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            color: rgba($color: white, $alpha: 60%);
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            transition: .3s;
            &.active{
              transform: translateY(-32%);
              position: absolute;
              left: 16px;
              top: 14px;
              font-size: 11px;
              color: rgba($color: white, $alpha: 60%);
              line-height: 18px;
              transition: .3s;
            }
          }
        }
      }
    }
  }
}