.card{
    width: 660px;
    max-height: 298px;
    border-radius: 24px;
    background: rgba($color: #fff, $alpha: 10%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    margin-bottom: 12px;
    .left{
        width: 204px;
        height: 250px;
        img{
            width: 204px;
            height: 250px;
            object-fit: cover;
            object-position: center;
            border-radius: 24px;
            margin: 0;
            padding: 0;
        }
    }
    .right{
        height: 250px;
        margin-left: 25px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        .up{
            overflow: hidden;
            h3,
            p{
                margin: 0;
                padding: 0;
                font-weight: bold;
            }
            h3{
                font-size: 24px;
                color: white;
            }
            p{
                font-size: 20px;
                color: white;
                margin-top: 8px;
                span{
                    color: rgba($color: white, $alpha: 60%);
                }
            }
        
        }
        .down{
            width: 100%;
            h3{
                color: white;
                font-size: 24px;
                letter-spacing: 0.6px;
                margin: 0;
                
            }
            .floor{
                width: 100%;
                margin-top: 8px;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .count{
                    display: flex;
                    align-items: center;
                    button{
                        width: 72px;
                        height: 56px;
                        color: white;
                        background: #141212;
                        font-size: 24px;
                        border-radius: 32px;
                        border: 0;
                        cursor: pointer;
                        
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &.disabled{
                            background: rgba($color: #141212, $alpha: 30%);
                            color: rgba($color: white, $alpha: 30%);
                        }
                    }
                    span{
                        margin: 0 16px;
                        color: white;
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                p{
                    margin: 0;
                    color: rgba($color: white, $alpha: 60%);
                    cursor: pointer;
                }
            }
        }
    }
}