.makingOrder{
    background: rgba($color: white, $alpha: 10%);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    @media (max-width: 1268px) {
        width: 660px;
        align-items: center;
    }
    @media (max-width: 768px) {
        width: 90%;
        flex-direction: column-reverse;
    }
    
    button{
        width: 384px;
        height: 56px;
        border-radius: 50px;
        background: #13ED29;
        color: #141212;
        font-weight: bold;
        border: 0;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 24px;
        @media (max-width: 1268px) {
            width: 100%;
        }
        @media (max-width: 768px) {
            margin-bottom: 0;
            margin-top: 16px;
        }
    }
    .down{
        width: 100%;
        // .line{
        //     width: 384px;
        //     height: 1px;
        //     background: rgba($color: white, $alpha: 10%);
        //     margin-bottom: 16px;
        //     @media (max-width: 1268px) {
        //         width: 100%;
        //     }
        //     &:nth-child(1){
        //         @media (max-width: 768px) {
        //             display: none;
        //         }
        //     }
        // } 
        // .cart{
        //     width: 384px;
        //     @media (max-width: 1268px) {
        //         width: 100%;
        //     }
        //     h3{
        //         color: white;
        //         font-weight: 700;
        //         font-size: 20px;
        //         margin: 0;
        //         margin-bottom: 18px;
        //         font-weight: 500;
        //     }
        //     p{
        //         width: 100%;
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-between;
        //         font-weight: bold;
        //         color: white;
        //         padding: 0;
        //         margin: 12px 0;
        //         font-weight: 500;
        //         span{
        //             color: rgba($color: white, $alpha: 60%);
        //         }
        //     }
        // }
        h3{
            @media (max-width: 1268px) {
                width: 100%;
            }
            width: 384px;
            margin: 0;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 800;
            @media (max-width: 425px) {
                font-size: 20px;
            }
            @media (max-width: 320px) {
                font-size: 18px;
            }
            span{
                font-weight: 500;
            }
        }
    }
}