.container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  .make{
    width: 100%;
    max-width: 1116px;
    margin: 12px 0;
    display: flex;
    align-items: flex-start;
    @media (max-width: 1242px) {
      flex-direction: column;
      align-items: center;
    } 
    .left{
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-right: 24px;
      @media (max-width: 1242px) {
        align-items: center;
        margin-right: 0;
      } 
      
      .goods{
        width: 95%;
        @media (max-width: 762px) {
          width: 90%;
        } 
        h1{
          width: 100%;
          color: white;
          font-size: 32px;
          margin: 24px 0;
        }
        .cards{
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
        }
      }
    }
    .right{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      @media (max-width: 1242px) {
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
      } 
    }
  }
}