.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .cart{
        width: 1116px;
        display: flex;
        align-items: flex-start;
        gap: 24px;
        margin-top: 12px;
        @media (max-width: 1268px) {
            width: 100%;
            align-items: center;
            flex-direction: column;
        }
        @media (max-width: 768px) {
            width: 90%;
        }
        .cards{
            display: flex;
            align-items: center;
            flex-direction: column;
            @media (max-width: 1024px) {
                width: 100%;
            } 
        }
        .nothing{
            width: 660px;
            max-height: 298px;
            border-radius: 24px;
            margin-bottom: 12px;
            padding: 24px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (max-width: 768px) {
                width: 94%;
                padding: 18px;
            }
            h2{
                color: white;
            }
        }
        .right{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            .info{
                @media (max-width: 768px) {
                    display: none;
                }
                @media (max-width: 1268px) {
                    width: 660px;
                    align-items: center;
                }
                @media (max-width: 768px) {
                    width: 432px;
                    flex-direction: column-reverse;
                }
                @media (max-width: 513px) {
                    width: 346px;
                }
            
                @media (max-width: 375px) {
                    width: 300px;
                }
                @media (max-width: 320px) {
                    width: 250px;
                }
            
                width: 90%;
                background: rgba($color: white, $alpha: 10%);
                border-radius: 24px;
                display: flex;
                align-items: center;
                padding: 18px 24px;
                margin-top: 12px;
                @media (max-width: 1268px) {
                    width: 660px;
                    align-items: center;
                }
                @media (max-width: 1252px) {
                    width: 100%;
                }
                @media (max-width: 1268px) {
                    width: 670px;
                    align-items: center;
                }
                @media (max-width: 768px) {
                    width: 90%;
                }
                span{
                    img{
                        @media (max-width: 460px) {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    color: #FFF;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 20px;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    @media (max-width: 768px) {
                        font-size: 11px;
                    }
                    @media (max-width: 320px) {
                        font-size: 13.6px;
                    }
                }
            }
        }
    }
}