.footer {
  width: 95vw;
  margin: 80px auto 0;
  max-width: 1440px;

  // display: none;
  // @media (max-width: 768px) {
  //   display: none;
  // }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 24px;
    }

    .email {
      margin-left: 140px;

      @media (max-width: 768px) {
        margin-left: 0;
      }

      p {
        margin: 0;
        padding: 0;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
      }
    }

    .links {
      display: flex;
      gap: 24px;

      a {
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
      }
    }
  }
}