.makingOrder{
    background: rgba($color: white, $alpha: 10%);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    @media (max-width: 1268px) {
        width: 660px;
        align-items: center;
    }
    @media (max-width: 768px) {
        width: 92%;
        flex-direction: column-reverse;
    }
    @media (max-width: 1268px) {
        width: 660px;
    }
    @media (max-width: 756px) {
        width: 560px;
    }
    @media (max-width: 748px) {
        width: 480px;
    }
    @media (max-width: 624px) {
        width: 420px;
    }
    @media (max-width: 500px) {
        width: 100%;
    }
    @media (max-width: 410px) {
        width: 300px;
    }
    @media (max-width: 360px) {
        width: 250px;
    }
      
    button{
        width: 384px;
        height: 56px;
        border-radius: 50px;
        background: #13ED29;
        color: #141212;
        font-weight: bold;
        border: 0;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 24px;
        @media (max-width: 1268px) {
            width: 100%;
        }
        &.disabled{
            background: rgba($color: #13ED29, $alpha: 20%);
            color: #141212;
        }
    }
    .line{
        width: 384px;
        height: 1px;
        background: rgba($color: white, $alpha: 10%);
        margin-bottom: 16px;
        @media (max-width: 1268px) {
            width: 100%;
        }
    }
    .cart{
        width: 384px;
        @media (max-width: 1268px) {
            width: 100%;
        }
        h3{
            color: white;
            font-weight: 700;
            font-size: 20px;
            margin: 0;
            margin-bottom: 18px;
        }
        p{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            color: white;
            padding: 0;
            margin: 12px 0;
            span{
                color: rgba($color: white, $alpha: 60%);
            }
        }
    }
    h3{
        @media (max-width: 1268px) {
            width: 100%;
        }
        @media (max-width: 768px) {
            margin-bottom: 14px;
        }
        width: 384px;
        margin: 0;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}