.delivering{
  padding: 24px;
  background: #2C2A2A;
  border-radius: 24px;
  min-width: 660px;
  margin-right: 24px;
  h3{
    color: white;
    font-family: 20px;
    font-weight: 700;
  }
  form{
    width: 612px;
    label{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      border-radius: 12px;
      border: 1px solid #2C2A2A;
      margin: 8px 0;
      cursor: pointer;
      
      &:hover{
        background: rgba(#141212, 30%);
      }
      &.active{
        border: 1px solid #00BB00;
        background: #141212;
      }
      .left{
        display: flex;
        align-items: center;
        // input[type='radio']::before {
        //   width: 12px;
        //   height: 12px;
        //   border-radius: 15px;
        //   position: relative;
        //   background-color: #363636;
        //   content: '';
        //   display: inline-block;
        //   visibility: visible;
        //   border: 2px solid white;
        // }
        // input[type='radio']:checked::before {
        //   width: 12px;
        //   height: 12px;
        //   border-radius: 15px;
        //   position: relative;
        //   background-color: #00BB00;
        //   content: '';
        //   display: inline-block;
        //   visibility: visible;
        //   border: 2px inherit white;
        //   accent-color: #00BB00;
        // }
        input[type='radio']{
          border: 1px solid rgba($color: #FFFFFF, $alpha: 60%);
          background-color: #363636;
        }
        input[type='radio']:checked{
          accent-color: #00BB00;
        }


         
        img{
          margin: 0 8px;
        }
        h3{
          font-size: 16px;
        }
      }
      .right{
        h3{
          color: white;
          font-size: 16px;
        }
      }
    }
  }
}