.banner {
  width: 100%;
  margin-top: 100px;
  position: relative;
  
  .top_text {
    width: 98%;
    margin-right: auto;

    h1 {
      text-align: right;
      color: #fff;
      font-size: 81px;
      font-weight: 600;
      line-height: 88px;

      @media (max-width: 897px) {
        font-size: 42px;
        font-style: normal;
        line-height: 50px;
      }

      @media (max-width: 440px) {
        font-size: 32px;
        font-style: normal;
        line-height: 40px;
      }

      span {
        margin-left: 245px;
        @media (max-width: 897px) {
          margin-left: 130px;
        }
        @media (max-width: 320px) {
          margin-left: 100px;
        }
      }
    }
  }

  .banner_title {
    width: 95%;
    height: 100vh;
    margin-left: 35px;
    &::-webkit-scrollbar{
      display: none;
    }

    @media (max-width: 897px) {
      height: 450px;
    }
    @media (max-width: 670px) {
      margin-left: 20px;
      height: 360px;
    }
    @media (max-width: 400px) {
      margin-left: 10px;
    }
    
    div{
      img{
        width: 94%;
        max-width: 1440px;
        position: absolute;

        @media (max-width: 1000px) {
          margin-top: 50px;
        }
        @media (max-width: 425px) {
          margin-top: 100px;
        }
      }
    }
    
    .banner_subtitle {
      width: 300px;
      p {
        color: #FFF;
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
      }
    }
  }
}